<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
    <link href="#" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:replace="fragments/header.html"/>
<div class="container align-self-center">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:action="@{/private/users/add}" th:object="${user}" method="post">
                <fieldset>
                    <h1>Please input user info</h1>
                    <div class="form-group">
                        <span class="form-control alert alert-danger" th:if="${#fields.hasErrors('email')}"
                              th:errors="*{email}">
                            Email error</span>
                        <input th:field="*{email}" type="text" name="email" id="email" class="form-control input-lg"
                               placeholder="Email" required maxlength="50"/>
                    </div>
                    <div class="form-group">
                        <span class="form-control alert alert-danger" th:if="${#fields.hasErrors('name')}"
                              th:errors="*{name}">
                            Name error</span>
                        <input th:field="*{name}" type="text" name="name" id="name" class="form-control input-lg"
                               placeholder="Name" required maxlength="20"/>
                    </div>
                    <div class="form-group">
                        <span class="form-control alert alert-danger" th:if="${#fields.hasErrors('surname')}"
                              th:errors="*{surname}">Surname error</span>
                        <input th:field="*{surname}" type="text" name="surname" id="surname"
                               class="form-control input-lg" placeholder="Surname" required maxlength="40"/>
                    </div>
                    <div class="form-group">
                        <span class="form-control alert alert-danger" th:if="${#fields.hasErrors('patronymic')}"
                              th:errors="*{patronymic}">Patronymic error</span>
                        <input th:field="*{patronymic}" type="text" name="patronymic" id="patronymic"
                               class="form-control input-lg" placeholder="Patronymic" maxlength="40"/>
                    </div>
                    <div class="form-group">
                        <span class="form-control alert alert-danger" th:if="${#fields.hasErrors('role')}"
                              th:errors="*{role}"></span>
                        <select class="custom-select" name="role" th:field="*{role.id}">
                            <option th:each="role : ${roles}" th:text="${role.name}" th:value="${role.id}"></option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Add"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer.html"/>
</body>
</html>