<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="#" rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" type="text/css"/>
    <link href="#" rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.css}" type="text/css"/>
    <link href="#" rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap-grid-jsf.css}" type="text/css"/>

</head>
<body>
<div th:replace="fragments/header.html"/>
<div th:if="${param.added}">
    <div class="alert alert-success text-center">
        User successfully added.
    </div>
</div>
<div th:if="${param.updated}">
    <div class="alert alert-success text-center">
        User role successfully updated.
    </div>
</div>
<div th:if="${param.deleted}">
    <div class="alert alert-success text-center">
        Users was successfully deleted.
    </div>
</div>
<div th:if="${param.password_changed}">
    <div class="alert alert-success text-center">
        Password was successfully changed.
    </div>
</div>
<div th:if="${param.updated_zero}">
    <div class="alert alert-danger text-center">
        User role wasn't updated.
    </div>
</div>
<div th:if="${param.deleted_zero}">
    <div class="alert alert-danger text-center">
        Users wasn't deleted or no users was chosen.
    </div>
</div>
<div th:if="${param.password_error}">
    <div class="alert alert-danger text-center">
        Password wasn't changed.
    </div>
</div>
<div class="align-self-center container-fluid justify-content-center">
    <div class="card-group">
        <div th:each="item : ${page.list}" style="width: 20%">
            <form action="#" class="card border-dark" style="padding: 20px; margin: 20px; width: 350px; height: 350px"
                  th:action="@{/private/users/{id}/update(id=${item.id}, page=${page.currentPageNumber})}"
                  th:object="${item}" method="post">
                <b class="text-lg-center">Name:</b>
                <span class="text-lg-center text-center" th:text="*{name}"></span>
                <b class="text-lg-center text">Unique number:</b>
                <span class="text-lg-center" th:text="*{uniqueNumber}"></span>
                <b class="text-lg-center"><span>Price:</span></b>
                <span class="text-lg-center text-center" th:text="*{price}"></span>
                <div sec:authorize="isAuthenticated() && hasAuthority('Sale User')">
                <br><input class="btn btn-secondary" type="submit" value="Update">
                <br><input class="btn btn-secondary" type="submit" value="Change password" formmethod="post"
                           th:formaction="@{/private(page=${page.currentPageNumber})}">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <form id="delete" style="margin-left: 40%" action="#"
          th:action="@{/private/users/delete(page = ${page.currentPageNumber})}" method="post">
        <input class="btn btn-primary" style="width: 35%" type="submit" value="Delete marked">
    </form>
    <ul class="pagination justify-content-center">
        <div th:if="${page.countOfPages > 0}" th:each="page_number : ${#numbers.sequence(1, page.countOfPages)}">
            <li th:if="${page_number} == ${page.currentPageNumber}" class="page-item active">
                <a class="page-link" th:href="@{/items(page=${page_number})}" th:text="${page_number}"></a>
            </li>
            <li th:unless="${page_number} == ${page.currentPageNumber}" class="page-item">
                <a class="page-link" th:href="@{/items(page=${page_number})}" th:text="${page_number}"></a>
            </li>
        </div>
    </ul>
</div>
<div th:replace="fragments/footer.html"/>
</body>
</html>